@use '../abstract/' as a;

.row {
   max-width: a.rem(500);
   margin: 0 auto;
   padding: 0 a.rem(30);

   @include a.breakpoint(tablet) {
    max-width: a.rem(1140);
    margin: 0 4rem;
   }
}

.grid {
    display: grid;
    column-gap: a.rem(60);
    row-gap: a.rem(60);

    @include a.breakpoint(tablet) {
        row-gap: a.rem(80);
    }
}

.grid-about {
    grid-template-columns: 1fr;

    @include a.breakpoint(tablet) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: a.rem(80);
    }
}

.grid-features {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}