@use "../abstract" as a;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  font-size: clamp(16px, calc(1rem + ((1vw - 4.2px) * 0.2667)), 20px);
  min-height: 0vw;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

::selection {
  background-color: a.$color-primary;
  color: a.$color-white;
}
