@use "../abstract" as a;

main {
  background-color: a.$color-grey-light-1;
}

.section-about {
  padding: a.rem(200) 0rem;
  margin-top: -20vh;

  @include a.breakpoint(desktop) {
    padding: a.rem(200) a.rem(80);
  }
}
